@use '../utils' as *;

/*---------------------------------------*/
/*Background color
/*-----------------------------------------*/

.theme-bg {
	background: var(--it-theme-1);
}
.black-bg {
	background: var(--it-common-black);
}
.white-bg {
	background: var(--it-common-white);
}
.gray-bg3 {
	background: var(--it-gray-3);
}
.gray-bg {
	background: var(--it-gray-1);
}
