.it-header-menu>nav>ul {
    padding-left: 0 !important;
    align-items: center;
    justify-content: center;
    display: flex;
}

@for $i from 100 through 1000 {
    .min-height-#{$i} {
        min-height: #{$i}px;
    }
}

.logo_image {
    max-height: 50px;
}
@media (max-width: 768px) {
    .itoffcanvas__logo{
        margin-bottom: 20px;
        .logo_image {
            max-height: fit-content;
        }
    }
}



.it-funfact-3-item span::after {
    width: 100%;
}

.it-funfact-3-number {
    font-size: 40px;
}

.it-brand-area .row [class*=col-]:last-child .it-brand-item {
    border-radius: 20px !important;
}

.sub-company {
    &__image {
        height: 200px;
        object-fit: contain;
    }

    &__description {
        p {
            height: 80px;
        }

    }
}

.project-item {
    &__slide {
        img {
            width: 480px;
            height: 633px;
            object-fit: cover;
        }
    }
}


.team-member-image {
    display: block;
    margin: 0 auto;
}

.sidebar-widget-post {
    &--custom {
        ul li:not(:last-child) {
            border-bottom: none !important;
        }
    }
}

.news-slider-item__image {
    img {
        max-height: 200px;
        object-fit: cover;
    }
}

.project-item {
    &__image {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    &__image--contain {
        object-fit: contain;
    }

    &__image--details {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}