@for $i from 100 through 1000 {
    .min-height-#{$i} {
        min-height: #{$i}px;
    }
}
    .logo_image {
        max-height: 50px;
    }
@media (min-width: 1440px) { 
    .it-slider-2-overlay{
        height: 840px !important;
    }
    .it-slider-2-bg img{
        width: 100%;
        height: 840px !important;
    }
    .logo_image{
        max-height: 60px;
    }
    .it-service-item{
        max-height: 400px;
    }
}
.it-brand-area .row [class*=col-]:last-child .it-brand-item {
    border-radius: 20px !important;
}
.sub-company{
    &__image{
        max-height: 200px;
    }
}
.project-item{
    &__slide{
        img{
            width: 480px;
            height: 633px;
            object-fit: cover;
        }
    }
}
@media (min-width: 768px) {
    img {
        object-fit: cover;
        max-height: 360px;
    }
}
.team-member-image {
    display: block;
    margin: 0 auto;
}

