@for $i from 100 through 1000 {
    .min-height-#{$i} {
        min-height: #{$i}px;
    }
}
    .logo_image {
        max-height: 50px;
    }
@media (min-width: 1440px) { 
    .it-slider-2-bg img{
        width: 100%;
    }
    .logo_image{
        max-height: 60px;
    }
    .it-service-item{
        max-height: 400px;
    }
}

.sub-company{
    &__image{
        max-height: 200px;
    }
}

