    .logo_image {
        max-height: 50px;
    }
@media (min-width: 1440px) { 
    .it-slider-2-bg img{
        width: 100%;
    }
    .logo_image{
        max-height: 60px;
    }
    .it-service-item{
        max-height: 400px;
    }
}
